@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f2a3;
}

.btn-click {
  position: fixed;
  top: 20px;
  background-color: #f9ca24;
  color: #000;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 3px #8a6d0480;
  z-index: 100;
}

.btn-click:hover,
.btn-click:focus {
  outline: 0.3rem solid #8a6d0480;
}

.btn-click:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 500px;
  width: 500px;
  transition: 0.4s ease;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  position: relative;
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  background-color: #f6e58d;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  background-color: #f9ca24;
  transform: skewX(45deg);
}
