body {
  background-color: #e40475;
  color: #e3f6f5;
  font-family: 'Black Ops One', cursive;
  text-align: center;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: bold;
  letter-spacing: .5rem;
  text-shadow: 5px 5px #272343;
}

p.clock {
  font-size: 8rem;
  text-shadow: 5px 5px #272343;
}

button {
  background-color: transparent;
  border: 2px solid #bae8e8;
  border-radius: 50px;
  margin: 5px 20px;
  padding: 20px;
  color: #bae8e8;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: #bae8e8;
  color: #272343;
  outline: 2px dotted #bae8e8;
}