* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #ffffffa6;
  padding: 10px 50px;
  border-radius: 5px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(images/tree-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


footer {
  color: #ffffdd;
  position: fixed;
  bottom: 25px;
  right: 5px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

a {
  text-decoration-style: dotted;
  color: #ffffdd;
}

a:focus,
a:hover {
  outline: 2px dotted #ffffdd;
}