@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  background-color: #7affc8;
  background-image: url('img/stardust.png');
  text-align: center;
}

main {
  width: 55rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #0c381f33;
  border-radius: 1rem;
  padding: 4rem 3rem;
}

.heading-primary {
  margin-bottom: 4rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.form__input,
.form__button {
  font-family: inherit;
  font-weight: bold;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  margin: 1rem auto;
  outline: none;
}

.form__input {
  border: 0.1rem solid #b9b6d3;
  color: #3e3c49;
  width: 45rem;
}

.form__button {
  border: none;
  background-color: #066649;
  box-shadow: 0 0.4rem #48aa8986;
  color: #fff;
  cursor: pointer;
  width: 20rem;
}

.form__button:focus,
.form__button:hover,
.form__button:active {
  background-color: #00b460;
}

.form__button:active {
  transform: translateY(0.3rem);
  box-shadow: none;
}

.error-input {
  border: 0.1rem solid #ff0000;
}

.error-input::placeholder {
  color: #ff0000;
}

.error {
  height: 3.5rem;
  display: block;
  font-size: 1.5rem;
  color: #ff0000;
  text-align: right;
  padding-right: 1rem;
}

.hidden {
  visibility: hidden;
}
