@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #e9967a;
  background-image: url(img/food.png);
  font-family: 'Cabin Sketch', cursive;
}

.heading-primary {
  font-size: 7rem;
}

.speed-control {
  position: absolute;
  bottom: 20px;
  display: flex;
  padding: 1rem;
  background-color: #d3c7c383;
  font-size: 3rem;
}

input {
  margin-left: 1rem;
  width: 5rem;
  font-family: inherit;
  font-size: 2rem;
  background-color: #f5ddd4a4;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}
