@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  background: url(images/old-wall.png),
    linear-gradient(#14274e, #394867, #2d6187, #394867, #14274e);
  color: #fff;
  text-align: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main {
  width: 95rem;
  border-radius: 0.5rem;
  border: 0.4rem solid #fff;
  padding: 40px;
}

.heading-primary {
  letter-spacing: 0.5rem;
}

.form {
  padding: 5rem;
}

.date-input,
.btn {
  background-color: #ffffff13;
  border: none;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s;
}

.date-input {
  font-size: 2rem;
  letter-spacing: 0.6rem;
  padding: 1.5rem;
  margin-right: 3rem;
  color: #fff;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.btn {
  font-size: inherit;
  color: #fff;
  border-radius: 100%;
  padding: 0.8rem 1.8rem;
}

.btn:focus,
.btn:hover,
.date-input:focus,
.date-input:hover {
  outline: 0.4rem dotted #1eff00;
}

.btn:active {
  transform: translateY(0.2rem);
}

.btn:disabled {
  background-color: #92919126;
  border: 0.2rem solid #424040;
  color: #424040;
  outline: none;
  cursor: default;
}

.counter {
  display: inline-block;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;
  background-color: #ffffff13;
  width: 19rem;
  height: 15rem;
  padding: 2rem;
  margin: 1rem;
}

.time-left-info {
  display: block;
  padding: 2rem 1rem;
  font-size: 2.8rem;
  font-weight: bolder;
}

.end-timer {
  height: 10rem;
  font-size: 3.5rem;
  font-weight: 900;
  color: #ff0000;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}
