@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;

  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  background-color: #13abc4;
  text-align: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 80rem;
  padding: 4rem 5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #00000083;
}

.heading-primary {
  margin-bottom: 5rem;
}

.password {
  height: 5rem;
  width: 100rem;
  font-size: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5f9e9052;
  box-shadow: 0 0 0.5rem #00000083;
  text-align: center;
  outline: none;
}

.form {
  text-align: center;
}

.form__input {
  margin: 6rem 0;
  justify-content: space-around;
}

input[type='number'] {
  margin-left: 2rem;
  padding: 0.7rem 0.5rem 0.3rem 5rem;
  width: 15rem;
  font-size: inherit;
}

input[type='checkbox'] {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.btn {
  font-size: inherit;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  background-color: #5f9e9052;
  color: #000;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

.btn-copy {
  margin-left: 3rem;
}

.btn:focus,
.btn:hover {
  color: #fff;
  background-color: #13abc4;
  box-shadow: 0 0 1rem #00000083;
}

.btn:active {
  transform: translateY(0.2rem);
}
