@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Syne Mono', monospace;
  color: #333;
  background-image: linear-gradient(to bottom right, #00c3ff 0%, #0004ff 100%);
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
.container {
  background-color: #ffffff59;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem #00000040;
  border-radius: 0.9rem;
  text-align: center;
}

.container--player {
  width: 90rem;
  height: 40rem;
  overflow: hidden;
}

.container--options {
  margin: 3rem auto 0;
  padding: 2.5rem;
  width: 50rem;
  height: 1x0rem;
}

.container--btn {
  margin: 1.5rem auto 0;
}

.player {
  flex: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem;
  transition: all 0.75s;
}

/* HEADING and PARAGRAPH*/
.heading-primary {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #fff;
}

.paragraph {
  font-size: 2rem;
  color: #faeaea;
  text-transform: uppercase;
}

/* PLAYER SECTION */
.player--winner {
  background-color: #09ff004b;
}

.player--looser {
  background-color: #ff00004b;
}

.player--draw {
  background-color: #fbff004b;
}

.name {
  margin-bottom: 1rem;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.choice {
  font-size: 9rem;
}

.score {
  margin-top: 5rem;
  padding: 2rem;
  width: 20rem;
  border-radius: 0.9rem;
  background-color: #0400ff;
  color: #fff;
  text-align: center;
  transition: all 0.75s;
}

.score-label {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #faeaea;
  text-transform: uppercase;
}

.score-info {
  font-size: 4rem;
}

/* BUTTONS */
.btn {
  margin: 1rem 1rem;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  background-color: #ffffff93;
  box-shadow: 0 1.75rem 3.5rem #0000001a;
  border: none;
  font-family: inherit;
  font-size: 2.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
}

.btn--play {
  display: block;
  margin: auto;
}

.btn:focus,
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #00ccff;
}

.btn:active {
  transform: translateY(0.2rem);
}
