@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00c73f;
  background-image: url(images/iron-grip.png);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #000;
}

/* MAIN */
.heading-primary {
  margin-bottom: 5rem;
  text-decoration: underline;
}

.form {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 4rem;
  width: 50rem;
}

input[type='number'] {
  display: block;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem dotted #000;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  color: #00c73f;
}

input[type='number']:focus,
input[type='number']:hover,
input[type='number']:active {
  border: 0.1rem dotted #000;
}
