@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nova Flat', cursive;
  font-size: 2.5rem;
  color: #eeff00;
  background-color: #ff4800;
}

/* MAIN */
main {
  width: 80rem;
}

.heading-primary {
  margin-bottom: 5rem;
}

.form__input,
.btn {
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.form__input {
  border-bottom: 1px solid #eeff00;
  padding: 1rem 0;
  margin-right: 3rem;
  background-color: transparent;
  color: #cffffe;
  width: 60rem;
}

.form__input::placeholder {
  color: #fff45dc2;
}

.btn {
  border-radius: 10px;
  background-color: #eeff00;
  color: #ff4800;
  padding: 1rem 1.4rem;
}

.form__input:focus,
.form__input:hover,
.btn:focus,
.btn:hover {
  outline: 0.2rem dotted #cffffe;
}

.result {
  height: 4rem;
  margin-top: 4rem;
  font-size: 3.5rem;
}
