@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Redressed', cursive;
  font-size: 2.5rem;
  color: #33ff66;
  background-color: #680734;
}

main {
  width: 80rem;
}

h1 {
  margin-bottom: 5rem;
}
button,
input[type='text'] {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.3rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  outline: none;
  transition: all 0.1s;
}

input[type='text'] {
  font-size: 2rem;
  padding: 1.4rem;
  border: 0.1rem solid #33ff66;
  background-color: #33ff661f;
  color: #cffffe;
  width: 60rem;
}

input[type='text']::placeholder {
  color: #cffffe86;
}

button {
  border: none;
  background-color: #33ff66;
  color: #092532;
  padding: 1rem 1.4em;
  margin-left: 2rem;
}

input[type='text']:focus,
input[type='text']:hover,
button:focus,
button:hover {
  outline: 0.2rem dotted #cffffe;
}

.result {
  height: 3rem;
  margin-top: 5rem;
  font-size: 3.5rem;
}
