@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Redressed', cursive;
  font-size: 2.5rem;
  color: #33ff66;
  background-color: #680734;
  text-align: left;
}

main {
  width: 800px;
}

h1 {
  margin: 50px 0;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid #33ff66;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: .2rem;
  padding: 10px 0;
  margin-right: 30px;
  cursor: pointer;
  background-color: transparent;
  color: #cffffe;
  outline: none;
  width: 600px;
}

input[type='text']:focus,
input[type='text']:hover {
  outline: 2px dotted #cffffe;
}

input[type='text']::placeholder {
  color: #cffffe6c;
}

button {
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: .3rem;
  border-radius: 10px;
  border: none;
  background-color: #33ff66;
  color: #092532;
  cursor: pointer;
  padding: 10px 14px;
}

button:focus,
button:hover {
  outline: 2px dotted #cffffe;
}

.result {
  text-align: center;
  margin-top: 30px;
  font-size: 3.5rem;
}