@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Kanit', sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: #202020;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #0b1742;
  background-image: url(images/gplay.png);
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-primary {
  color: #fff;
  background-color: #ffffff6b;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto 4rem;
  width: 60rem;
}

.container {
  flex-wrap: wrap;

  width: 95rem;
  text-align: center;
}

/****/
.holiday {
  position: relative;
  width: 17rem;
  height: 17rem;
  margin: 1rem 2rem;
  filter: drop-shadow(0 0 0.8rem #000);
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.holiday__img {
  width: 100%;
  transform: translateY(2rem) scale(1.8);
  transition: all 0.5s;
}

.holiday__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #ffffff96;
  transition: all 0.5s;
}

.holiday:hover .holiday__img {
  filter: blur(0.2rem) brightness(80%);
}

.holiday:hover .holiday__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* MODALS */
.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff48;
  backdrop-filter: blur(0.2rem);
  z-index: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50rem;
  width: 65rem;
  padding: 5rem;
  box-shadow: 0 0 1rem 1rem #1d1d1da2;
  font-size: 2rem;
  text-transform: lowercase;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  z-index: 1;
}

.btn {
  position: absolute;

  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 1rem;

  background-color: #0b1742;
  cursor: pointer;
}

.btn-x {
  top: 3rem;
  right: 3rem;
}

.btn-ok {
  bottom: 3rem;
  right: 3rem;
}

.modal__info {
  margin: 2rem auto 3.5rem;
  padding: 3rem;
  background-color: #ffffffbd;
  border-radius: 1rem;
}

.paragraph-1 {
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
}

.paragraph-bold {
  font-size: 2.2rem;
  font-weight: 900;
}

.days {
  display: block;
  font-size: 5rem;
}

.attribution {
  position: fixed;
  right: 0.5rem;
  font-size: 1rem;

  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.attribution__link {
  text-decoration: none;
  color: #0b1742;
}
