@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Poiret One', cursive;
  font-size: 4rem;
  background: url(images/skulls.png), #615160;
  color: #ffffff;
  text-align: center;
}

main {
  width: 70rem;
}

h1 {
  letter-spacing: 0.5rem;
}

.drum {
  position: relative;

  font-family: 'Poiret One', cursive;
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  background-color: #3a2238ec;
  border-radius: 0.5rem;
  border: 0.4rem solid #ffffff;
  padding: 1.5rem 2rem;
}

.pressed {
  box-shadow: 0.2rem 0.2rem 0.4rem 0 #ffffff;
  opacity: 0.3;
}

.a {
  top: 20rem;
  left: 0.6rem;
}

.s {
  top: 35rem;
  left: -11.5rem;
}

.d {
  top: 46rem;
  left: 3rem;
}

.j {
  top: 10rem;
  right: -21.5rem;
}

.k {
  top: 20rem;
  right: -6rem;
}

.l {
  top: 30rem;
  right: -6rem;
}

footer {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.attribution {
  font-size: 1.3rem;
  background-color: #3838389a;
  padding: 1.2rem 0.5rem;
}

a {
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: #ff8686;
}

a:focus,
a:hover,
a:active {
  outline: 0.1rem dotted #32f5fc;
}
