@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  font-size: 1.5rem;
  color: #f6e2f7;
  background-color: #940a37;
  text-align: left;
}

/* MAIN */
.heading-primary {
  margin-top: 15rem;
  margin-bottom: 3rem;
}

.form__input,
.btn {
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.form__input {
  margin-bottom: 3rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #f6e2f7;
  background-color: #f3d1f423;
  color: #cffffe;
  outline: none;
  width: 100%;
}

.form__input::placeholder {
  color: #cffffe6c;
}

button {
  display: block;
  background-color: #f6e2f7;
  color: #940a37;
  padding: 1rem 2.5rem;
}

.form__input:focus,
.form__input:hover,
button:focus,
button:hover {
  outline: 0.1rem dotted #cffffe;
}

button:active {
  transform: translateY(0.5rem);
}

.result {
  margin-top: 3rem;
  font-size: 2rem;
}
