@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Pangolin', cursive;
}

.bg {
  background: url('images/sheep-g7758630d2_1920.jpg') no-repeat center
    center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  text-align: center;
  font-size: 8rem;
  letter-spacing: 2rem;
  color: #000;
  text-shadow: 0 0 1rem #000;
}
