@import url('https://fonts.googleapis.com/css2?family=Amita&family=Italianno&display=swap');

body {
  font-family: 'Amita', cursive;
  background-color: #776d8a;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 996px;
}

h1 {
  font-family: 'Italianno', cursive;
  letter-spacing: 0.3rem;
  font-size: 2.8rem;
  color: #fff;
  text-shadow: 0 0 1rem #000;
}

p {
  font-size: 2rem;
}

.quote {
  background-color: #fff;
  box-shadow: 0 0 3rem 0.5rem rgb(32, 31, 31);
  margin-top: 5rem;
  padding: 2rem;
}
