@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #ebcfc4;
  background-color: #49428b;
}

.main {
  position: relative;
}

.heading-primary {
  margin-bottom: 3rem;
}

/* FORM STYLE */
.input__number,
.btn {
  font-family: inherit;
  font-size: 1.5rem;
  color: #1b1837b9;
  letter-spacing: 0.2rem;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.input__number {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 1rem 0.5rem;
  border: 0.2rem solid #ebcfc4;
  background-color: #ebcfc47e;
}

.input__number::placeholder {
  font-size: 1.2rem;
  color: #1b1837b9;
}

.input__number:focus,
.input__number:hover {
  outline: 2px dotted #ebcfc4;
}

.btn {
  margin-left: 1.7rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.2rem #0000008e;
  transition: all 0.2s;
}

button:focus,
button:hover {
  color: #f700ff;
  transform: scale(1.1);
}

.result {
  height: 5rem;
  margin-top: 3.5rem;
}

/* MODAL STYLE */
.hidden {
  display: none;
}

.open-modal {
  cursor: pointer;
  color: #f700ff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60rem;
  height: 33rem;
  padding: 5rem 3.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem #00000041;
  background-color: #fff;
  color: #092532;
}

.definition {
  margin-top: 1rem;
}

.examples {
  margin: 1.5rem 0 0.5rem;
}

.example__item {
  margin-left: 1.8rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  list-style: circle;
}

.armstrong-numbers {
  color: #49df6f;
  font-weight: 500;
}

.not-armstrong-numbers {
  color: #ff0000;
  font-weight: 500;
}

.digits {
  color: #00ccff;
  font-weight: 500;
}

.btn-close {
  position: absolute;
  top: 1.3rem;
  right: 2rem;

  padding: 0 1rem;
  font-size: 3.3rem;
  font-weight: 500;
  box-shadow: none;
  background-color: transparent;
}

.btn-ok {
  position: absolute;
  bottom: 3rem;
  right: 3.5rem;

  color: #fff;
  background-color: #49428b;
}
