@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #00ff00;
  background-color: #092532;
}

.main {
  position: relative;
}

.heading-primary {
  margin-bottom: 4rem;
}

/* FORM STYLE */
.input__word,
.btn {
  display: block;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.1s;
}

.input__word {
  margin-bottom: 4rem;
  padding: 0.4rem 0.5rem 0.2rem;
  border-bottom: 1px solid #00ff00;
  background-color: transparent;
  color: #cffffe;
  width: 60rem;
}

.input__word::placeholder§ {
  font-size: 2rem;
  color: #cffffe;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem #00000041;
}

.input__word:focus,
.input__word:hover,
.btn:focus,
.btn:hover {
  outline: 2px dotted #00ff00;
}

.btn:active {
  transform: translateY(0.2rem);
}

.btn-check {
  background-color: #00ff00;
  color: #092532;
}

/* RESULT STYLE */
.result {
  height: 3rem;
  margin-top: 3rem;
  font-size: 3rem;
  color: #ffff00;
}

/* MODAL STYLE */
.hidden {
  display: none;
}

.open-modal {
  cursor: pointer;
  color: #ffff00;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80rem;
  height: 40rem;
  padding: 9rem 4rem 12rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem #00000041;
  background-color: #fff;
  color: #092532;
}

.examples {
  margin: 2rem 0 1rem;
}

.example__item {
  margin-left: 3rem;
  padding: 0.3rem 0;
  list-style: disclosure-closed;
}

.btn-close {
  position: absolute;
  top: 2rem;
  right: 2.6rem;

  padding: 0 1.5rem 0.5rem 1.7rem;
  font-size: 4rem;
  font-weight: 900;
  box-shadow: none;
  background-color: transparent;
}

.btn-ok {
  position: absolute;
  bottom: 3rem;
  right: 4.5rem;

  font-weight: 700;
  color: #fff;
  background-color: #092532;
}
