@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'PT Mono', monospace;
}

.heading-primary {
  margin-bottom: 5rem;
  font-size: 5rem;
}

.calculator {
  background-color: #c9d6df;
}

.calculator-display {
  padding-right: 2.5rem;
  padding-left: 1.5rem;
  height: 10rem;
  font-size: 5rem;
  background-color: #222831;
  color: #fff;
  text-align: right;
  border: none;
}

.calculator-display::placeholder {
  color: #fff;
}

.calculator__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  padding: 1rem;
}

.calculator__item {
  height: 6rem;
  font-size: 4rem;
  text-align: center;
  border: none;
  cursor: pointer;
}

.operator {
  background-color: #65b2e6;
}

.operator:hover {
  background-color: #69779b;
  color: #fff;
}

.number {
  background-color: #e47dc2;
}

.number:hover {
  background-color: #5e1043;
  color: #fff;
}

.clear {
  background-color: #fecea8;
}

.clear:hover {
  background-color: #e84a5f;
  color: #fff;
}

.equal {
  grid-row: 2 / 6;
  grid-column: 4 / -1;
  height: 100%;

  background-color: #00ffbb;
}

.equal:hover {
  background-color: #166678;
  color: #fff;
}