@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26282c;
  color: #ffffdd;
  font-family: 'Great Vibes', cursive;
  letter-spacing: .5rem;
  text-align: center;
}

h1 {
  margin: 15px auto;
  font-size: 2.5rem;
}

.distance {
  font-size: 2rem;
}

img {
  width: 600px;
  height: 600px;
}

.found {
  color: #00ff00;
  font-weight: bold;
}

footer {
  font-size: 1rem;
  color: #ffffdd;
  letter-spacing: 0.2rem;
  position: fixed;
  bottom: 25px;
  right: 5px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

a {
  text-decoration-style: dotted;
  color: #ffffdd;
}

a:focus,
a:hover {
  outline: 2px dotted #ffffdd;
}