* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
}

h1 {
  background-color: #ffffffa6;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url(images/tree-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  font-size: 2rem;
  color: #ffffdd;
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

a {
  text-decoration-style: dotted;
  color: #ffffdd;
  transition: all 0.2s;
}

a:focus,
a:hover {
  outline: 0.1rem dotted #ffffdd;
}
