@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 10rem;
  background-image: radial-gradient(#417ef1 60%, #0d60fa 100%);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 3rem;
}

.form {
  margin: 3rem auto;
}

.heading-primary {
  font-family: 'Gochi Hand', cursive;
  font-size: 7rem;
  text-shadow: 0.1rem 0.1rem #fff;
}

.heading-secondary {
  font-size: 2.5rem;
}

.tasks--number {
  font-size: 3rem;
  color: #ffffff;
}

.form__input,
.btn {
  font-family: inherit;
  font-size: 2.2rem;
  border: 0.3rem solid #000;
  cursor: pointer;
  transition: all 0.2s;
}

input {
  width: 60rem;
  padding: 1rem 1.5rem;
}

.btn {
  padding: 0.6rem 0.8rem;
}

.btn--add {
  background-color: #00ff00b7;
}

.btn--delete {
  background-color: #ff0000b7;
}

ul {
  padding-left: 4rem;
}

li {
  list-style-type: square;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
