@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 10rem;
  background-color: #0077ffad;
  background-image: url(images/carbon-fibre-v2.png);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 3rem;
}

.form {
  position: relative;
  margin: 3rem auto;
}

.heading-primary {
  font-family: 'Gochi Hand', cursive;
  font-size: 7rem;
  text-shadow: 0.1rem 0.1rem #fff;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #fff;
}

.tasks--number {
  font-size: 3rem;
  color: #fff;
}

.form__input,
.btn {
  font-family: inherit;
  font-size: 2.2rem;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

.form__input {
  width: 65rem;
  border-radius: 10rem;
  box-shadow: 0 0 1rem #000;
}

.btn {
  border: 0.2rem solid #000;
}

.btn--add {
  position: absolute;
  top: -0.2rem;
  right: 0;
  color: #fff;
  background-color: #0084ffe3;
  border-radius: 10rem;
}

.btn--delete {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  font-weight: 900;
  border-radius: 100%;
  padding: 0.4rem 1.4rem;
}

.btn:focus,
.btn:hover {
  transform: scale(1.1);
}

ul {
  padding-left: 4rem;
}

li {
  position: relative;
  padding: 0.7rem 1.8rem;
  list-style-type: '⭕';
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffffb4;
  border-radius: 10rem;
  cursor: pointer;
}

ul li:hover {
  color: #000;
  background: #00fff2;
}

.checked {
  color: #fff;
  background: #0114bdb7;
  text-decoration: line-through;
}

.checked::before {
  content: '😊';
  position: absolute;
  top: 0.7rem;
  left: -3.2rem;
  font-size: 2rem;
}
