@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Audiowide', cursive;
  letter-spacing: 0.4rem;
  color: #b0eb0d;
  background-color: #1462d8;
  text-align: center;
}

h1 {
  margin: 5rem 0;
  font-size: 3rem;
}

.uuid,
.btn {
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem 1.5rem;
  margin: 3rem;
}

.btn {
  background-color: #b0eb0d;
  color: #1462d8;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:focus,
.btn:hover {
  outline: 0.2rem dotted #cffffe;
}

.btn:active {
  transform: translateY(0.2rem);
}

.uuid {
  width: 65rem;
  text-align: center;
}
