* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #706897;
  background-image: url(images/church.png);
  font-family: 'PT Mono', monospace;
  font-size: 1.3rem;
  color: #fef5e7;
}

main {
  border-radius: 15px;
  box-shadow: 0 0 20px #794c74;
}

.form {
  background-color: #c56183;
  padding: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

input[type='text'] {
  margin: 35px 0;
  border: none;
  border-bottom: 1px dotted #fef5e7;
  background-color: transparent;
  outline: none;
  font-family: 'PT Mono', monospace;
  font-size: 1.3rem;
  width: 200px;
  color: #fef5e7;
}

input[type='text']:focus,
input[type='text']:hover,
input[type='text']:active {
  border: 1px dotted #fef5e7;
}

select {
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #fef5e7;
  color: #706897;
  border: transparent;
  border-radius: 5px;
  border-bottom: 1px dotted #fef5e7;
  outline: none;
}

button {
  margin-top: 35px;
  padding: 15px 10px;
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
  letter-spacing: .2rem;
  background-color: #fef5e7;
  color: #706897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:focus,
button:hover {
  background-color: #706897;
  color: #fef5e7;
}

.show-results {
  background-color: pink;
  padding: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p {
  font-weight: bolder;
  color: #706897;
  padding: 10px 0;
}