@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  background-color: #6a8caf;
  text-align: center;
}

main {
  width: 70rem;
  background-color: #feffe6;
  border-radius: 0.5rem;
  padding: 4rem 2.5rem;
}

h1 {
  text-decoration: underline;
  margin-bottom: 2rem;
}

form {
  padding: 4rem 3.5rem;
}

input[type='number'],
button {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  border: 0.1rem solid #b9b6d3;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

input[type='number'] {
  padding: 1rem 0.7rem;
  width: 18rem;
}

button {
  text-transform: uppercase;
  background-color: #0e918c;
  font-weight: 700;

  color: #fff;
  cursor: pointer;
  padding: 2rem 5rem;
  margin: 4rem auto 0px;
}

input[type='text']:focus,
input[type='text']:hover,
button:focus,
button:hover {
  outline: 0.2rem dotted #b9b6d3;
}

button:active {
  transform: translateY(0.2rem);
}

.result {
  height: 5rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: lowercase;
  text-decoration: underline;
  letter-spacing: 0.3rem;
}

.hidden {
  visibility: hidden;
}
