@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lemonada', cursive;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: #f1404b;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-primary {
  margin-bottom: 2rem;
}

.lotto-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.lotto-container,
.ball-container {
  padding: 2rem;
  background-color: #e4e4d875;
}

.lotto-container {
  width: 50rem;
  color: #ff0000;
}

.ball-container {
  flex-direction: column;
  justify-content: space-evenly;

  align-self: flex-start;
  height: 51rem;
  width: 10rem;
  margin-left: 5rem;
}

.lotto-number {
  position: relative;
  height: 5rem;
  width: 5rem;
  line-height: 2.5;
  background-color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.ball-number {
  height: 6.2rem;
  width: 6.2rem;
  line-height: 3;
  background-color: #2a2a2a;
  border-radius: 50%;
}

.selected::after {
  content: '❌';
  font-size: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.guessed {
  font-weight: 900;
  background-image: radial-gradient(#a4e0fbbe, #0400ff);
}

.btn {
  margin: 3rem 1rem 0;
  padding: 1.2rem 6rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1.5rem #2e2e2e;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:focus,
.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: translateY(0.2rem);
}

.btn:disabled {
  transform: scale(1);
  cursor: default;
}
