@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Antic Slab', serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #fff7b0;
  background-color: #0b2a57;
}

.heading-primary {
  margin-bottom: 3rem;
}

.paragraph {
  margin-bottom: 2rem;
}

.input-data,
.btn {
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.input-data {
  width: 25rem;
  border: 0.1rem solid #fff7b0;
  padding: 1rem;
  background-color: #fff7b02f;
  color: #f64343;
}

.input-data::placeholder {
  color: #f8ff97bb;
  font-weight: 500;
}

.btn {
  background-color: #fff7b0;
  color: #233142;
  margin-left: 2rem;
  padding: 0.8rem 1.5rem;
}

.input-data:focus,
.input-data:hover,
.btn:focus,
.btn:hover {
  outline: 0.2rem dotted #00bd74;
}

.btn:active {
  transform: translateY(0.3rem);
}

.result {
  height: 50rem;
  margin-top: 5rem;
  font-size: 3.6rem;
  text-align: center;
}

/* MODAL STYLE */
.hidden {
  display: none;
}

.open-modal {
  cursor: pointer;
  color: #ff6d6d;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100rem;
  height: 45rem;
  padding: 9rem 4rem 12rem;
  font-size: 1.7rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem #00000041;
  background-color: #fff;
  color: #092532;
}

.definition {
  width: 50%;
  float: left;
  margin-right: 3rem;
}

.definition-2 {
  margin-top: 3rem;
}

.example {
  font-size: 0.9rem;
  text-align: center;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 2.2rem;

  margin: 0;
  padding: 0 1.35rem 0.9rem 1.6rem;
  font-size: 3.5rem;
  font-weight: 900;
  box-shadow: none;
  background-color: transparent;
}

.btn-ok {
  position: absolute;
  bottom: 2rem;
  right: 4rem;

  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  background-color: #194381;
}
