@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Raleway:ital,wght@1,200&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  flex-direction: column;

  background-color: #32e0c4;
  color: #222831;
  font-family: 'Barrio', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
.main {
  width: 70rem;
}
.heading-primary {
  margin-bottom: 8rem;
}
.container {
  justify-content: space-evenly;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-img {
  width: 20rem;
}

.btn:focus,
.btn:hover {
  outline: 0.2rem dotted #ffffdd;
}

.color-name {
  height: 10rem;
  width: 20rem;
  font-size: 3rem;
}

.footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  color: #ffffdd;
  letter-spacing: 0.2rem;
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.footer__link {
  text-decoration-style: dotted;
  color: #ffffdd;
}

.footer__link:focus,
.footer__link:hover {
  outline: 0.2rem dotted #ffffdd;
}
