@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Antic Slab', serif;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: #ecb0e9;
  background-color: #330030;
  text-align: left;
}

/* MAIN */
main {
  width: 80rem;
}

.heading-primary {
  margin-bottom: 5rem;
}

.form__label {
  display: block;
  margin-bottom: 2rem;
}

.form__input,
.btn {
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.form__input {
  width: 30rem;
  border: 0.1rem solid #ecb0e9;
  padding: 1rem;
  background-color: #ecb0e941;
  color: #cffffe;
}

.form__input::placeholder {
  color: #cffffe6c;
}

.btn {
  display: block;
  background-color: #ecb0e9;
  color: #373a40;
  padding: 1.2rem 1.5rem;
}

.form__input:focus,
.form__input:hover,
.btn:focus,
.btn:hover {
  outline: 0.2rem dotted #ff00f2;
}

.btn:active {
  transform: translateY(0.3rem);
}

.result {
  height: 5rem;
  margin-top: 5rem;
  font-size: 3.6rem;
}

/* MODAL STYLE */
.hidden {
  display: none;
}

.open-modal {
  cursor: pointer;
  color: #d0ff00;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80rem;
  height: 32.5rem;
  padding: 7rem 8rem 7rem 4rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem #00000041;
  background-color: #fff;
  color: #092532;
}

.examples {
  margin: 2rem 0 1rem;
}

.example__item {
  margin-left: 3rem;
  padding: 0.3rem 0;
  list-style: disclosure-closed;
}

.btn-close {
  position: absolute;
  top: 1.6rem;
  right: 2.7rem;

  margin: 0;
  padding: 0 1.3rem 0.8rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 900;
  box-shadow: none;
  background-color: transparent;
}

.btn-ok {
  position: absolute;
  bottom: 3rem;
  right: 4.5rem;

  font-weight: 700;
  color: #fff;
  background-color: #31112c;
}
