@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;800&family=Righteous&display=swap');

:root {
  --bg-primary-color: #222831;
  --bg-secondary-color: #170944;
  --bg-tertiary-color: #8b5e57c9;

  --text-primary-color: #fcf8ec;
  --text-secondary-color: #000;
  --text-alert-color: #ff0000;

  --gradient-secondary-color: #5e44b1;
  --gradient-tertiary-color: #e2978cc9;

  --shadow-primary: 0 0 1.7rem #000;
  --shadow-secondary: 0 0 3rem #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Baloo Da 2', cursive;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  text-align: center;

  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

span {
  margin-right: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: 30rem 50rem;
  align-items: center;
  gap: 20rem;
}

.heading-primary {
  font-family: 'Righteous', cursive;
  font-size: 4.5rem;
  text-shadow: var(--shadow-primary);
}

.number {
  margin: 0 5.5rem 2.5rem;
  padding: 3rem 0.5rem;
  font-weight: 800;
  font-size: 7rem;
  color: var(--text-secondary-color);
  text-shadow: var(--shadow-secondary);
  border-radius: 100%;
  border: 0.5rem solid var(--text-secondary-color);
  background-color: var(--bg-secondary-color);
  background: radial-gradient(
    circle,
    var(--bg-tertiary-color) 0%,
    var(--bg-secondary-color) 100%
  );
  box-shadow: var(--shadow-primary);
}

.guess {
  display: flex;
  flex-direction: column;
}

.chances-left {
  margin-bottom: 2rem;
}

.chances {
  display: inline-block;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.6rem;
  color: var(--text-alert-color);
}

.guess-field {
  background-color: transparent;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.5rem solid var(--text-primary-color);
  font-family: inherit;
  font-size: 3rem;
  color: var(--text-primary-color);
  padding: 1rem 0 1rem 2rem;
  margin: auto;
  width: 20rem;
  outline: none;
}

.guess-field::placeholder {
  font-size: 2rem;
}

.btn {
  background-color: var(--text-secondary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0.5rem solid var(--text-secondary-color);
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--text-primary-color);
  padding: 0.6rem 3rem;
  margin: auto;
  width: 20rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn-again {
  border-radius: 1rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--text-primary-color);
  color: var(--text-secondary-color);
}

.previous-guesses {
  margin-top: 2rem;
}

.results {
  text-align: left;
  margin-top: 4rem;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}

.guessed {
  background: radial-gradient(
    circle,
    var(--gradient-tertiary-color) 0%,
    var(--gradient-secondary-color) 100%
  );
}
