@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Syne+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;

  font-family: 'Cinzel', serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background-color: #ffe3d8;
  background-image: url(images/white-diamond-dark.png);
}

.main {
  margin-top: 30rem;
}

.heading-primary,
.input-data,
.btn,
.result {
  background-color: #ffffffa6;
  border-radius: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-primary {
  padding: 1.1rem 5rem;
}

.input-data,
.btn {
  font-family: inherit;
  font-size: inherit;
  border: 0.1rem solid #777777;
  outline: none;
}

.input-data {
  padding: 1rem 10rem;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
  cursor: pointer;
}

.result {
  font-size: 4rem;
}
