@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(315deg, #311dc7 0%, #ec20d7 100%);
  overflow-x: hidden;
  font-family: 'Handlee', cursive;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  margin: 50px;
}

.box {
  background-image: linear-gradient(315deg, #1dc723 0%, #2072ec 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.fa-solid {
  font-size: 6rem;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 35px;
}
