@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Hanalei Fill', cursive;
  font-size: 2.5rem;
  background-color: #252525;
  color: #fff;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #fff;
  cursor: crosshair;
}

/* MAIN */
.heading-primary {
  margin-bottom: 3rem;
  background-image: linear-gradient(#f9f871, #ff5e78, #821752);
  -webkit-background-clip: text;
  color: transparent;
}

.options {
  flex-direction: column;
  justify-content: space-evenly;
  height: 50rem;
  width: 15rem;

  text-align: center;
  padding: 2rem 5rem;
  border: 0.1rem solid #252525;
  background-color: #fff;
  color: #000;
}

.option {
  display: inline-block;
  list-style-type: none;
}

.option__input#size {
  width: 10rem;
  padding: 0.8rem 0.4rem;
  text-align: center;
}

/* CUSTOM RADIO BUTTON */
.label__input {
  position: relative;
}

input[type='radio'] {
  height: 0;
  width: 0;
  opacity: 0;
}

.icon {
  position: absolute;
  right: -1rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  cursor: pointer;
}

.icon:hover {
  fill: #56556e;
}

input[type='radio']:checked + .icon-draw {
  fill: #28df99;
}

input[type='radio']:checked + .icon-erase {
  fill: #ff4646;
}
