@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;

  background: linear-gradient(90deg, #16c79a 50%, #495464 50%);
  font-family: 'Goldman', cursive;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}
.heading-primary {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  background-color: #000;
  border: 0.5rem solid #fff;
  border-radius: 2rem;
  color: #fff;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #ff0000;
}

.player p {
  display: inline-block;
  border: 0.5rem solid;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.player .player-1 {
  border-color: #ffff00;
  color: #ffff00;
}

.player .player-2 {
  border-color: #00ff00;
  color: #00ff00;
}

.spinner p {
  font-size: 7rem;
}

.result {
  height: 3rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.visible {
  visibility: hidden;
}
