@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Fredericka+the+Great&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Fredericka the Great', cursive;
  background-color: #222831;
  color: #ffffff;
  text-align: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
section {
  justify-content: space-between;
}
.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.7rem;
}

.paragraph {
  display: inline-block;
  width: 35rem;
  font-size: 16rem;
  margin: 5rem 10rem;
}

.negative-value {
  color: #ff003c;
}

.positive-value {
  color: #00ff9d;
}

.btn {
  background-color: transparent;
  border: 0.35rem dotted #ffffff;
  border-radius: 100%;
  font-family: 'Freckle Face', cursive;
  color: inherit;
  font-size: 5rem;
  padding: 2rem 4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.add:focus,
.add:hover {
  background-color: #28df991a;
  border-color: #00ff9d;
  color: #00ff9d;
}

.subtract:focus,
.subtract:hover {
  background-color: #e45f7e1a;
  border-color: #ff003c;
  color: #ff003c;
}

.btn:active {
  transform: translateY(0.3rem);
}
