@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Antic Slab', serif;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: #9088d4;
  background-color: #ebcfc4;
  text-align: left;
}

main {
  width: 996px;
}

h1,
h1+p {
  margin: 50px 0;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid #9088d4;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  padding: 10px 0;
  margin: 50px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #9088d4;
  outline: none;
  width: 250px;
  text-align: center;
}

input[type='text']:focus,
input[type='text']:hover {
  outline: 2px dotted #9088d4;
}

input[type='text']::placeholder {
  color: #9088d46c;
}

button {
  font-family: inherit;
  font-size: 3rem;
  letter-spacing: .3rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: #9088d4;
  cursor: pointer;
  margin: 0 50px;
  padding: 10px 14px;
}

button:focus,
button:hover {
  outline: 2px dotted #9088d4;
}

.result {
  margin-top: 30px;
  font-size: 3.5rem;
  display: inline;
}