@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Limelight', cursive;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  color: #ffffdd;
  text-align: center;
  text-shadow: 0.5rem 0 #000;
  background-color: #30475e;
  background-image: url(images/carbon-fibre.png);
}

.container {
  margin: 6rem 0;
}

button {
  font-family: inherit;
  font-size: 3rem;
  padding: 2.5rem 3rem;
  border: 0.2rem dotted #000;
  border-radius: 100%;
  background-color: #ffffdd;
  cursor: pointer;
  transition: all 0.2s;
}

button:focus,
button:hover {
  outline: 0.2rem dotted #ffffdd;
}

button:active {
  transform: translateY(0.1rem);
}

.player-1,
.player-2 {
  display: inline-block;
  margin: 3rem;
}

.player-paragraph {
  margin-bottom: 3rem;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(0.1rem, 0.1rem) rotate(0deg);
  }

  10% {
    transform: translate(-0.2rem, -0.2rem) rotate(-2deg);
  }

  20% {
    transform: translate(-0.3rem, -0.3rem) rotate(2deg);
  }

  30% {
    transform: translate(0.3rem, 0.3rem) rotate(0deg);
  }

  40% {
    transform: translate(0.2rem, -0.1rem) rotate(2deg);
  }

  50% {
    transform: translate(-0.1rem, 0.2rem) rotate(-2deg);
  }

  60% {
    transform: translate(-0.3rem, 0.2rem) rotate(0deg);
  }

  70% {
    transform: translate(0.3rem, 0.1rem) rotate(-2deg);
  }

  80% {
    transform: translate(0.1rem, -0.3rem) rotate(2deg);
  }

  90% {
    transform: translate(0.1rem, 0.3rem) rotate(0deg);
  }

  100% {
    transform: translate(0.1rem, 0.1rem) rotate(-2deg);
  }
}
