body {
  height: 100vh;
  background-color: #252525;
  color: #32ff6a;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #009499;
  display: inline-block;
}

button {
  margin-left: 50px;
  padding: 10px 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  color: #252525;
  text-transform: uppercase;
  background-color: #7efaff;
  border: none;
  border-radius: 2%;
  box-shadow: 0px 0px 10px 5px #009499;
  transition: .13s ease-in-out;
  cursor: pointer;
}

button:focus,
button:hover {
  font-weight: bolder;
  outline: 2px dotted #004d14;
}

button:active {
  box-shadow: none;
  transform: translate(0em, 0.75em);
}

.rotate {
  animation: rotate 0.8s linear;
}

@keyframes rotate {
  100% {
    transform: rotate(720deg);
  }
}

@media screen and (min-width: 768px) {
  main {
    max-width: 870px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}