@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Monoton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #011f3f;
  color: #ffffff;
  text-align: center;
}

.heading-primary {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
}

.paragraph {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin: 2.5rem;
  height: 20rem;
  width: 20rem;
  border: 1rem solid #ffffff;
  border-radius: 20%;
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

.btn--red {
  background-color: #ff0000;
}

.btn--green {
  background-color: #09ff00;
}

.btn--blue {
  background-color: #0000ff;
}

.btn--yellow {
  background-color: #ffff00;
}

.btn--pressed {
  opacity: 0.5;
  transform: scale(0.8);
}

.game-over {
  background-color: #810000;
}
