@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;800&family=Righteous&display=swap');

:root {
  --bg-primary-color: #222831;

  --text-primary-color: #fcf8ec;
  --text-secondary-color: #000;
  --text-alert-color: #ff0000;

  --gradient-primary-light: #5e44b1;
  --gradient-secondary-light: #e2978cc9;

  --gradient-primary-dark: #170944;
  --gradient-secondary-dark: #8b5e57c9;

  --shadow-primary: 0 0 1.7rem #000;
  --shadow-secondary: 0 0 3rem #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  font-family: 'Baloo Da 2', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  /* display: none; */
}

/* .paragraph {
  margin: 1.5rem auto;
} */

.paragraph-span {
  font-size: 3.4rem;
}

/* HEADER */
.heading-primary {
  font-family: 'Righteous', cursive;
  font-size: 4.5rem;
  text-shadow: var(--shadow-primary);
  text-align: center;
  margin-bottom: 3.5rem;
}

/* MAIN */
.main {
  height: 70vh;
  width: 70vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40vh 10vh 10vh;
  gap: 3rem;
  align-items: center;
}

.secret {
  grid-column: 1 / 2;
  grid-row: 1;

  flex-direction: column;
}

/* SECRET NUMBER SECTION */
.number {
  height: 15rem;
  width: 15rem;
  font-size: 7rem;
  font-weight: 800;
  color: var(--text-secondary-color);
  text-shadow: var(--shadow-secondary);
  box-shadow: var(--shadow-primary);
  border-radius: 100%;
  border: 0.5rem solid var(--text-secondary-color);
  background: radial-gradient(
    circle,
    var(--gradient-secondary-dark) 0%,
    var(--gradient-primary-dark) 100%
  );
}

.guessed {
  background: radial-gradient(
    circle,
    var(--gradient-primary-light) 0%,
    var(--gradient-secondary-light) 100%
  );
}

/* PLAYER SECTION */
.chances {
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.6rem;
  color: var(--text-alert-color);
}

.player {
  grid-column: 2 / -1;
  grid-row: 1;

  flex-direction: column;
}

.user-guess {
  width: 20rem;
  font-family: inherit;
  font-size: 3rem;
  color: var(--text-primary-color);
  background-color: transparent;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.5rem solid var(--text-primary-color);
  padding: 1rem 0 1rem 2rem;
  outline: none;
}

.user-guess::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.btn {
  width: 20rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0.5rem solid var(--text-primary-color);
  background-color: var(--text-primary-color);
  color: var(--text-secondary-color);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: var(--gradient-primary-light);
  color: var(--text-primary-color);
}

/* PREVIOUS GUESSING SECTION */
.previous-guesses {
  grid-column: 1 / -1;
  grid-row: 2;
}

/* STATISTICS SECTION */
.statistics {
  grid-column: 1 / -1;
  grid-row: 3;

  justify-content: space-between;
}

/* GAME OVER*/
.game-over {
  text-align: center;
}

.btn-again {
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(0.2rem);
}
