.start-btn {
  background-color: #28df99;
}

.fizz-btn {
  background-color: #9d65c9;
}

.buzz-btn {
  background-color: #ff5200;
}

.fizz-buzz-btn {
  background-color: #ec0101;
}

.next-btn {
  background-color: #0278ae;
}

.fizz {
  color: #9d65c9;
}

.buzz {
  color: #ff5200;
}

.fizz-buzz {
  color: #ec0101;
}

.next {
  color: #0278ae;
}

.start {
  color: #28df99;
}
