@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;

  font-family: 'RocknRoll One', sans-serif;
  font-size: 2.42em;
  background-image: url(images/strange-bullseyes.png),
    linear-gradient(#6a9ff5, #a50b98);
  text-align: center;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary,
.heading-secondary,
.info-game {
  color: #fff;
  text-shadow: 0.5rem 0.2rem 0.5rem #000;
}

.paragraph {
  margin: 2rem;
  font-size: 3rem;
  font-weight: 900;
}

.info-game {
  justify-content: space-between;

  margin-top: 3rem;
}

.section-game {
  flex-direction: column;
  justify-content: space-between;

  margin: 3rem 0;
  padding: 3rem;
  background-color: #ffffff4d;
}

.game-box {
  margin: 2rem 0;
}

.operand,
.result {
  font-size: 5rem;
  background-color: #fff;
  box-shadow: 0 0 0.4rem #000;
  width: 20rem;
  padding: 2rem 5rem;
}

.operand--1 {
  color: #ec4646;
}

.operand--2 {
  color: #00917c;
}

.operator {
  margin: 0 5rem;
  width: 10rem;
  font-size: 6.5rem;
  color: #0f3057;
}

.result {
  margin: 0 0.7rem;
  cursor: pointer;
}

.btn {
  font-family: inherit;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: inherit;
  letter-spacing: 0.3rem;
  padding: 1.4rem 2.5rem;
  box-shadow: 0 0 0.4rem #000;
  border: 0.1rem solid #000;
  border-radius: 2rem;
  outline: none;
  transition: all 0.2s;
}

.btn--restart {
  font-size: 5rem;
  font-weight: 900;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.result:focus,
.result:hover,
.btn:focus,
.btn:hover {
  color: #eac2fc;
  background-color: #132743;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 5rem 15rem;
  box-shadow: 0 0 0.4rem #000;
  border: 0.1rem solid #000;
  background-image: linear-gradient(#ec5858, #f1f390, #ec5858);
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
