@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #16161c;
  background-image: url('images/light-wool.png');
}

img {
  height: 500px;
  min-width: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px #5c605d4d;
  height: 552px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(9, 18, 37);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  font-size: 1.8rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
