@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
  background-color: #d2f5e3;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 30px 40px;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to right, #0d7377, #394867);
  box-shadow: 0 0 25px #000;
  color: #fff;
  font-family: 'Gugi', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:focus,
button:hover {
  outline: none;
  transform: scale(1.1);
}

button:active {
  transform: translateY(0.2rem);
}
