@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: #00b7ff9a;
  background-image: url(images/diagmonds.png);
}

.timer {
  height: 70rem;
  width: 70rem;
}

.timer__circle {
  fill: none;
  stroke: none;
}

.timer__path-elapsed {
  stroke-width: 0.4rem;
  stroke: #01131a;
}

.timer__labels {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.hours-set,
.minutes-set,
.seconds-set {
  display: inline-block;
  padding: 0 4.3rem;
}

.display-time-left {
  font-size: 9.5rem;
  color: #01131a;
}

/* BUTTONS */
.btn {
  background: transparent;
  text-shadow: 0 0 2rem #000000be;
  font-family: inherit;
  font-weight: 700;
  border: none;
  color: #fadcaa;
  outline: none;
  cursor: pointer;
}

.time-setter {
  font-size: 3.5rem;
  padding: 0 1.1rem;
}

.play {
  margin-top: 3rem;
  font-size: 8rem;

}

.play:focus,
.play:hover,
.time-setter:focus,
.time-setter:hover {
  color: #f05454;
}