@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway Dots', cursive;
}

.light-off,
.light-on {
  background-size: cover;
  height: 100vh;
}

.light-off {
  background-image: url(images/light-off.jpg);
}

.light-on {
  background-image: url(images/light-on.jpg);
}

button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  font-family: 'Raleway Dots', cursive;
  font-size: 4rem;
  color: rgb(0, 255, 106);
  border: 0.1rem dotted rgb(255, 252, 89);
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
}

p {
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

a {
  color: rgb(0, 255, 106);
  text-decoration: none;
}

.hidden {
  display: none;
}
