@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #701461;
  background-color: #fafcc2;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* MAIN */
.main {
  width: 60rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #3d0101;
}

.heading-primary {
  margin-bottom: 2rem;
  text-decoration: underline;
}

.form {
  margin: 3rem 0;
}

.input__label {
  margin-right: 2rem;
}

input[type='date'] {
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  color: #794c74;
  letter-spacing: 0.6rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #794c74;
  background-color: transparent;
  cursor: pointer;
}

input[type='date']:focus,
input[type='date']:hover {
  outline: 0.2rem dotted #794c74;
}

.wrong-input {
  display: inline-block;
  color: #ff0000;
  font-weight: 700;
  text-align: right;
  animation: moveInRight 2s ease-in-out;
  animation-fill-mode: both;
}

button {
  display: block;
  margin-top: 5rem;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  background-color: transparent;
  border-radius: 1rem;
  border: 0.1rem solid #794c74;
  background-color: #794c74;
  color: #fff;
  cursor: pointer;
  padding: 1rem 1.4rem;
}

button:focus,
button:hover {
  outline: 2px dotted #794c74;
}

/* AGE INFO */
.heading-secondary {
  margin: 3rem auto;
  text-align: center;
}

.age__def {
  margin: 1rem 0;
}

.age__value {
  color: #ff00b3;
  font-weight: 700;
}

.birthday {
  display: inline-block;
  margin-top: 2rem;
  font-family: 'Frijole', cursive;
  font-size: 3rem;
  animation: moveRightLeft 3s ease-in-out infinite alternate;
}

.birthday-text {
  font-size: 3.5rem;
  background-image: linear-gradient(
    to right,
    #001aff,
    #48ff00,
    #b7c22c,
    #ff00aa,
    #ff0022,
    #ff5e00
  );
  -webkit-background-clip: text;
  color: transparent;
}

.hidden {
  visibility: hidden;
}

/* ANIMATIONS */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(25rem);
  }
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(-5rem);
  }

  100% {
    transform: translateX(5rem);
  }
}
