@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.5rem;
  color: #fbf6f0;
  background-color: #30475e;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 90rem;
}

form {
  margin: 4rem 0;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.3rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

input {
  border: 0.1rem solid #fbf6f0;
  background-color: #ffffff2a;
  padding: 1rem;
  color: #cffffe;
}

input[type='text'] {
  width: 70rem;
}

input[type='number'] {
  width: 15rem;
}

input::placeholder {
  color: #cffffea2;
}

button {
  display: block;
  margin-top: 2rem;
  border: none;
  background-color: #fbf6f0;
  color: #30475e;
  cursor: pointer;
  padding: 1rem 1.4rem;
}

input:focus,
input:hover,
button:focus,
button:hover {
  outline: 0.2rem dotted #00b7ff;
}

button:active {
  transform: translateY(0.2rem);
}

.result {
  height: 4rem;
  font-size: 3.2rem;
}

/* MODAL STYLE */
.hidden {
  display: none;
}

.open-modal {
  cursor: pointer;
  color: #ff00b3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100rem;
  height: 65rem;
  padding: 7rem 8rem 7rem 4rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem #00000041;
  background-color: #fff;
  color: #092532;
}

.examples {
  margin: 2rem 0 1rem;
}

.example__item-1 {
  width: 40rem;
}

.example__item-2 {
  width: 60rem;
}

.example__text {
  font-weight: 900;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 2.7rem;

  padding: 0.3rem 1.3rem 0.2rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 900;
  box-shadow: none;
  background-color: transparent;
}

.btn-ok {
  position: absolute;
  bottom: 3rem;
  right: 4.5rem;

  font-weight: 700;
  color: #fff;
  background-color: #30475e;
}
