@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  font-family: 'Chewy', cursive;
  text-align: center;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
}

canvas {
  background-color: #fff;
}
