@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  position: relative;
  font-family: 'Chewy', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.information {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  user-select: none;
}

h1 {
  letter-spacing: 0.4rem;
}
