@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Freckle+Face&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;

  font-family: 'Architects Daughter', cursive;
  font-size: 2.8rem;
  text-align: center;
  background-color: #252525;
  color: #00ff00;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main {
  width: 50vw;
}

.heading-primary {
  display: inline-block;
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.3rem #009499;
}

.btn {
  margin-left: 5rem;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #252525;
  text-transform: uppercase;
  background-color: #7efaff;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem 0.25rem #009499;
  transition: 0.13s ease-in-out;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  outline: 0.4rem dotted #00ff44;
}

.btn:active {
  box-shadow: none;
  transform: translateY(1rem);
}

.joke {
  margin-top: 7rem;
  height: 50vh;
}
